body {
    background-color:burlywood;
}

h1 {
    text-align:center;
    margin-top:10%;
}

h2 {
    text-align:center;
    margin-top:20%;
    color:deeppink;
}

h3 {
    text-align:center;
    margin-top:22.5%;
    color:crimson;
}
